@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap);

@import 'variables';

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.puzzle {
  height: 100%;
  display: flex;
  background-color: $cyan-400;
  color: $white;
  font-family: 'Poppins', sans-serif;
}

.title {
  margin-bottom: 0;
}

.puzzle-field {
  border-radius: 20px;
  background-color: $cyan-200;

  &-wrap {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 80px;
  }

  &__top {
    padding: 18px 20px;
    border-bottom: 1px solid #232744;

    h1 {
      margin: 0;
      font-size: 28px;
      font-weight: 400;
    }
  }
}

.letters-table {
  padding: 20px;

  &__row {
    width: 100%;
    display: table;
    text-align: center;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, .25);
    }
  }

  &__item {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
    border-right: 1px solid rgba(0, 0, 0, .25);

    &:last-child {
      border-right: none;
    }

    &:first-child {
      border-left: none;
    }

    &.active {
      background-color: orange;
    }
  }
}

.answers-aside {
  background-color: $cyan-200;
  width: 32%;

  &__top {
    @extend .puzzle-field__top;

    h2 {
      margin: 0;
      font-size: 22px;
      line-height: 1.5;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.answers-list {
  padding: 0;

  &-wrap {
    padding: 20px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 14px;
    background-color: $cyan-100;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background: lighten($cyan-100, 3%);
      box-shadow: 1px 1px 8px darken($cyan-200, 15);
      transform: translate3d(-1px, -1px, 0);
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__avatar {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &__user {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    margin: 0 10px;
    font-size: 14px;
    font-weight: 500;
  }

  &__word {
    padding: 3px 10px;
    margin-left: auto;
    border-radius: 6px;
    background-color: $cyan-300;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}