<template>
  <section class="puzzle">
    <words-puzzle />
    <answers-list />
  </section>
</template>

<script>
import { mapActions } from 'vuex';
import WordsPuzzle from '@/components/WordsPuzzle';
import AnswersList from '@/components/AnswersList';

export default {
  name: 'App',
  components: {
    WordsPuzzle,
    AnswersList,
  },
  data: () => ({
    intervalId: null,
  }),
  methods: {
    ...mapActions({
      getWords: 'getWords',
      getAnswers: 'getAnswers',
    }),
    getAnswersByInterval() {
      this.intervalId = setInterval(this.getAnswers, 3000);
    },
  },
  async created() {
    await this.getWords();
    this.getAnswersByInterval();
  },
  beforeDestroy() {
    if (this.intervalId) {
      clearInterval(this.intervalId);
    }
  },
}
</script>
