<template>
  <aside class="answers-aside">
    <div class="answers-aside__top">
      <h2 class="title">
        Words
      </h2>
    </div>
    <div class="answers-list-wrap">
      <ul class="answers-list" role="list">
        <answers-list-item
          v-for="(answer, index) in answers"
          :key="index"
          :answer="answer"
        />
      </ul>
    </div>
  </aside>
</template>

<script>
import { mapState } from 'vuex';
import AnswersListItem from './AnswersListItem';

export default {
  name: 'AnswersList',
  components: {
    AnswersListItem,
  },
  computed: {
    ...mapState({
      answers: state => state.answers,
    }),
  },
}
</script>