<template>
  <li class="answers-list__item" role="listitem">
    <div
        class="answers-list__avatar"
        role="figure"
        :title="answer.author.name"
        :style="{ 'background-image': `url(${answer.author.picture})` }"
    />
    <div class="answers-list__user">
      {{ answer.author.name }}
    </div>
    <div class="answers-list__word">
      {{ answer.answer }}
    </div>
  </li>
</template>

<script>
export default {
  name: 'AnswersListItem',
  props: {
    answer: {
      type: Object,
      required: true,
    },
  },
}
</script>