<template>
  <div class="letters-table__item" :style="[ color ? { 'background-color': color } : '' ]">{{ letter }}</div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  props: {
    letter: {
      type: String,
      required: true,
    },
    rowIndex: {
      type: Number,
      required: true,
    },
    colIndex: {
      type: Number,
      required: true,
    },
  },
  computed: {
    ...mapState({
      selectedLetters: state => state.selectedLetters,
    }),
    color() {
      return this.selectedLetters.find(letter => this.rowIndex === letter.coordinates[0] && this.colIndex === letter.coordinates[1])?.color;
    },
  },
}
</script>