<template>
  <div class="puzzle-field-wrap">
    <div class="puzzle-field">
      <div class="puzzle-field__top">
        <h1 class="title">
          Round: <b>1/</b>20
        </h1>
      </div>
      <div class="letters-table">
        <div v-for="(row, rowIndex) in puzzle" :key="rowIndex" class="letters-table__row">
          <words-puzzle-item
              v-for="(letter, colIndex) in row"
              :key="colIndex"
              :letter="letter"
              :row-index="rowIndex"
              :col-index="colIndex"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import WordsPuzzleItem from '@/components/WordsPuzzleItem';

export default {
  name: 'WordsPuzzle',
  components: {
    WordsPuzzleItem,
  },
  computed: {
    ...mapState({
      puzzle: state => state.puzzle,
    }),
  },
  methods: {
    ...mapActions({
      generatePuzzle: 'generatePuzzle',
    }),
  },
  created() {
    this.generatePuzzle();
  },
}
</script>